.tours {
  margin-top: 90px;
  margin-bottom: 90px;
}
.tours .title {
  width: 1111px;
  margin: auto;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
}
.container {
  width: 1111px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 390px){

.tours .title {
  width: 390px;
  font-size: 20px;
}
.container {
  width: 390px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

}