.form {
  display: flex;
  flex-wrap: wrap;
  padding: 0 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.error {
  border-color: #e74c3c !important;
  background-color: #fff5f5;
}

.error:focus {
  border-color: #c0392b !important;
}

.form input {
  width: 250px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 18px;
  margin-top: 18px;
  padding: 8px;
}
.form input:focus {
  outline: none;
}
.buttons {
  display: flex;
}
.form button {
  position: relative;
  top: 61;
  right: 486;
  width: 144px;
  height: 41px;
  border-radius: 5px;
  padding: 8px;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 100%;
}
.submit {
  background: rgba(40, 167, 69, 1);
  border: none;
  color: rgba(255, 255, 255, 1);
  margin-left: 12px;
}
.cancel {
  border: 2px solid rgba(40, 167, 69, 1);
  background: rgba(255, 255, 255, 1);
  color: rgba(40, 167, 69, 1);
}

@media (max-width: 390px) {
  .form {
    padding: 0 14px 42px;
  }
  .form input {
    width: 299px;
    height: 40px;
  }
  .form button {
    display: flex;
    position: relative;
    top: 18;
    right: 1;
    width: 142px;
    height: 41px;
  }
}
