.parent {
  display: flex;
  width: 1188px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 80px;
}
.container{
    width: 872px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
}
