.container {
  display: flex;
  width: 1111px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 60px;
}
.tableContainer {
  width: 872px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.tableContainer table {
  width: 100%;
  border-collapse: collapse;
}
.tableContainer table thead th {
  background: rgba(243, 243, 243, 1);
  height: 55px;
  padding: 12px 15px;
  border: none;
  box-sizing: border-box;
}
.tableContainer table thead th:first-child {
  border-top-right-radius: 10px;
}
.tableContainer table thead th:last-child {
  border-top-left-radius: 10px;
}
.tableContainer table tbody td {
  padding: 12px 15px;
  text-align: center;
}

@media (max-width: 390px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 390px;
    margin: auto;
    padding: 30px 30px 60px;
  }
  .tableContainer {
    width: 328px;
  }
  .transactionType {
    display: none;
  }

  .tableContainer table thead th {
    font-size: 12px;
    color: rgba(40, 40, 40, 0.8);
    padding: 10px;
  }

  .tableContainer table tbody td {
    padding: 10px 10px;
    text-align: center;
    font-size: 9px;
  }
}
